/src/ChoboTetrisActivity/.gradle
/src/ChoboTetrisActivity/.idea
/src/ChoboTetrisActivity/ChoboTetrisActivity.iml
/src/ChoboTetrisActivity/local.properties
/src/ChoboTetrisActivity/app/app.iml
/src/ChoboTetrisActivity/app/build
/doc/todo.txt
/src/ChoboTetrisActivity/build
/src/ChoboTetrisActivity/app/release
